

.list-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin-top: 2rem;
    padding: 25px;
    text-align: left;
    max-width: 400px;
}

.delete{
    margin-top: 10px    ;
    padding: 5px;
    background-color: #d37979;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
}

p{
    font-weight: bold;
    font-style: italic;
}