body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    margin-top: 2rem;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 600px;
    
    text-align: left;
    color: white;
    background-color: rgb(131, 120, 108);
    border: 5px solid rgb(141, 27, 27);
}

button {
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(61, 47, 30);
    border: none;
}