body{
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.submit{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 3px;
}

.reset{
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
}


.new-card{
    border: 5px solid rgb(101, 156, 147);
    background-color: rgb(181, 211, 206) ;
    border-radius: 10px;
    padding : 5px;
    margin-top: 15px;
    gap : 20px;
}

.new-card p {

}