body {
    background-color: rgb(117, 38, 190);
    width: 100%;
    margin: auto;
}
.img {
    background-image: url("/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6f6770725851644e726f49552d513d3d2d343338.jpg");
    background-size: cover;
    color: white;
    font-size: x-large;
    border-radius: 5px;
}
button {
    background-color: rgb(117, 38, 190);
    color: rgb(253, 253, 253);
    padding: 8px;
    border-radius: 5px;
    border: 0;
}
button:hover {
    background-color: rgb(184, 126, 238);
}
.container {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2rem;
}
.centered{
    text-align: center;
}
.art{
    color: white;
    background-color: rgb(186, 20, 236) ;
    border-radius: 10px;
    
}
span{
    color: rgb(186, 20, 236);
}
p{
    align-content: end;
}
